section#principal{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

article#comandos{
    display: inline-block;
    min-height: 300px;
    margin-top: 5%;
    vertical-align: center;
    width: 25%;
}

article#tablero{
    display: inline;
    margin: auto;
    text-align: center;
    width: 65%;
}

article#tablero input{
    font-size: 3em;
    height: 100px;
    width: 100px;
}

input[type="button"]#iniciar{
    font-size: 0.8em;
    margin-top: 2em;
    padding: 0.7em;
}

input[type="button"]#sorteo{
    font-size: 0.8em;
    margin-top: 2em;
    padding: 0.7em;
}

input[type="text"]{
    font-size: 1em;
    margin: 0.2em;
    padding: 0.1em;
}

label{
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.botonInicial{
    color: #646464;
    background-color: #646464;
}
.botonJugador1{
    color: white;
    background-color: #c2c2c2;
}
.botonJugador2{
    color: white;
    background-color: #808080;
}